.Nav {
  margin-left: 40px;
  margin-top: 10px;
  grid-column: 1/2;
  width: 250px;
  height: 80vh;
  transform: translate(20px, 37px);
  perspective: 2100px;
}
h3 {
  display: none;
}
.prism {
  max-width: 90%;
  min-width: 70%;
  height: 40px;
  position: relative;
  transform-style: preserve-3d;
  animation: rotateNav 0.8s ease-in forwards;
}

.face {
  h1 {
    font-family: "Karantina", cursive;
    font-size: 3em;
  }
  a {
      text-decoration: none;
      color: black;
    li {
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-weight: 300;
      font-size: 1.5em;
      font-style: none;
      padding: 7px;
      width: 150px;
      
      &:hover {
        animation: anime-link-nav 0.3s ease-in-out forwards;
      }
    }
  }

  position: absolute;
  width: 250px;
  height: 730px;
  border-radius: 5px;
  background: linear-gradient(180deg, #0594d0, #04bbff);
}

.top {
  transform: rotateX(90deg) translateZ(25px);
  height: 50px;
}

.bottom {
  transform: rotateX(-90deg) translateZ(705px);
  height: 50px;
}

.right {
  transform: rotateY(90deg) translateZ(225px);
  width: 50px;
}
.left {
  transform: rotateY(-90deg) translateZ(25px);
  width: 50px;
  border-radius: 5px;
}
.back {
  display: flex;
  transform: rotateX(-180deg) translateZ(25px);
  border-radius: 5px;
  place-content: center;
  place-items: center;
  .hamburger-icon {
    display: none;
  }
  div {
    display: flex;
    place-items: center;
    place-content: center;
    flex-direction: column;

    .line {
      margin: 15px;
      width: 150px;
      height: 60px;
      border-radius: 20px;
      background-color: #007198;
    }
  }
}

.front {
  transform: rotateY(0deg) translateZ(25px);
  border-radius: 4px;
  background: linear-gradient(45deg, #0594d0, #04bbff);
}
h1 {
  margin: 50px;
}

.githubBlock {
  display: flex;
  flex-direction: column;
  background: rgb(8, 86, 117);
  width: 100px;
  padding: 5px;
  border-radius: 10px;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(100px);
  a {
    display: flex;
    place-items: center;
    flex-direction: column;
    img {
      width: 50px;
    }
  }
  &:hover {
    animation: spinX 0.8s ease 0.8s forwards;
  }
}

li {
  transform: translate(40px, 40px);
  list-style: none;
  margin: 10px;
}

//KEYFRAMES=================================================================

@keyframes rotateNav {
  from {
    transform: rotateY(110deg);
  }
  to {
    transform: rotateY(390deg);
  }
}

@keyframes anime-link-nav {
  from {
    background: #0594d0;
    border-radius: 10px;
  }
  to {
    background: linear-gradient(90deg, #0593d05d, #0593d000);
    border-radius: 10px;
  }
}

// MEDIA QUERY MAX-WIDTH 1214PX ============================================

@media screen and (max-width: 1214px) {
  .Nav {
    margin-left: 5px;
  }
}

// MEDIA QUERY MAX-WIDTH 643PX ============================================

@media screen and (max-width: 643px) {
  .Nav {
    grid-area: 1/1/2/2;
    z-index: 1;
    height: 300px;
    h3 {
      position: absolute;
      font-family: "Antonio", sans-serif;
      font-size: 1.9em;
      display: block;
      text-align: center;
      transform: translate(190px, 15px);
    }
  }
  .prism {
    animation: none;

    .back {
      .hamburger-icon {
        display: block;
      }
    }
  }
}
